ul {
	display: flex;
	justify-content: center; /* Centraliza horizontalmente */
	list-style: none;
	margin: 0; /* Adicionado para remover o espaçamento padrão */
	padding: 0; /* Adicionado para remover o espaçamento padrão */
}

ul li {
	display: flex;
	flex-direction: column; /* Adicionado para centralizar verticalmente */
	align-items: center; /* Adicionado para centralizar verticalmente */
	justify-content: center; /* Adicionado para centralizar horizontalmente */
	position: relative;
	width: 72px;
	height: 72px;
	border-radius: 72px;
	background: #1e1e1e;
	cursor: pointer;
	box-shadow: 0 0 0 2px #fff;
	transition: 300ms;
}

ul li:hover {
	width: 160px;
	box-shadow: 0 0 0 2px var(--bg-color);
}

ul li::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 32px;
	background: var(--bg-color);
	opacity: 0;
	transition: 300ms;
}

ul li:hover::before {
	opacity: 1;
}

ul li span {
	position: relative; /* Alterado para relativo */
}

ul li i {
	color: #fff;
	font-size: 2em;
	transition: 300ms;
	transition-delay: 150ms;
}

ul li:hover i {
	transform: scale(0);
	color: #fff;
	transition-delay: 0s;
}

ul li .text {
	color: red;
	font-size: 1.5em;
	z-index: 1;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.024em;
	opacity: 0;
	transition: 300ms;
	letter-spacing: -0.125px;
}

ul li:hover .text {
	opacity: 1;
}
